body{
  background-image: url("C:/Users/partont/Documents/Classes/Fall 2022/CSC 493/Project/codebase/images/Homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.glass {
  opacity: 0.0;
}
.a {
  color: white;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
