body{
  background-image: url("C:/Users/partont/Documents/Classes/Fall 2022/CSC 493/Project/codebase/images/Homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.glass {
  opacity: 0.0;
}

 a {
  text-decoration: none;
}
