<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Hobby Connect</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hobby Connect</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/loginPage">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createAccount">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img class="img-fluid w-100" src="../static/images/Homepage.png" />
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/indexLogo.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">What is Hobby Connect?</h5>
        <p class="card-text">Hobby Connect is a social platform that allows hobbyist and clubs to host their meetings. We provide a safe and user friendly way to
                              meet virtually. If you are looking for friends with common interest try Hobby Connect. You can join for free and begin exploring clubs from
                              all over the world.</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/safetyLanding.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">How do we ensure your safety?</h5>
        <p class="card-text">When you join the Hobby Connect family your safety is our top priority. We will never share any of the information you
                              give us. No one will have access to your email account, or your first and last name. We will only show memeber your username.
                              We also give parents oversite of all of their childrens activity within the Hobby Connect website ith our new Overwatch feature.
                              When making an account for your child just simply check the "Child Account" box and we will walk you through creating a parent account.</p>
      </div>
    </div>
  </div>
</div>
  </body>
</html>
